SERVICE_NAME="ImageGenration"
LOG_LEVEL="info"
PORT="8090"
GRPC_PORT="9190"
POSTGRES_DSN=""
REDIS_ADDR=""
JWT_SECRET=""
KAFKA_BROKERS=""
OPENAI_API_KEY=""
ORCHESTRATOR_MODEL="gpt-4o"
PROMPT_AGENT_MODEL="gpt-4o"
COMFYUI_BASE_URL=""
AWS_BUCKET=""
AWS_ENDPOINT=""
JAEGER_ENDPOINT="localhost:4317"
ENCRYPTION_KEY=""